body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(rgb(245, 40, 67), #f32170,  #f32170, rgb(72, 72, 252),  rgb(245, 40, 67) );
  background-repeat: no-repeat;
}
.continer {
  display: flex;
  flex-flow: row wrap;
}

.continer img {
  position: relative;
  left: 30px;
  width: 400px;
  height: 400px;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.2);
}

.continer .inner-head {
  color: white;
  position: relative;
  text-shadow: 2px 6px 10px rgba(22, 22, 26, 0.18);
  top: 0px;
  left: 30px;
  width: 800px;
}

.head {
  font-weight: bold;
  text-shadow: 2px 6px 10px rgba(22, 22, 26, 0.18);
  color: white;
}

.history {
  background-color: beige; 
   height: 700px; 
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translate3d(10px, 10px, 10px);
  }
}

.history .continer .img{
  animation: float 4s infinite;
}


.history .inner-head {
  color: rgb(250, 41, 93);
  font-size: 18px;
}

.history .head {
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip:none;
  position: relative;
  top: 50px;
  /* color: black; */
  font-weight: bold;
}

.history .continer {
  position: relative;
  top: 30px;
}

.WAW{
  color: white;

}

.para{
  font-weight: bolder;

}

.stores .history{
  height: 500px;
}

.shade{
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.2);
}

